@inject K8sClient _kube
@model (List<HomeViewModel>, Networkingv1beta1Ingress)
@{ ViewData["Title"] = "Ingress";
    var (ingresses, kcertIngress) = Model; }

<h2>Managed Ingresses</h2>

<form method="post" asp-action="SyncChallengeHosts">
    <button type="submit" class="btn btn-primary">Sync Challenge Routes</button>
</form>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Namespace</th>
                <th scope="col">Name</th>
                <th scope="col">Hosts</th>
                <th scope="col">Secret Name</th>
                <th scope="col">Created</th>
                <th scope="col">Expiration</th>
                <th scope="col">Challenge</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (idx, row) in ingresses.Select((m, i) => (i, m)))
            {
<tr>
    <td>@row.Namespace</td>
    <td>@row.IngressName</td>
    <td>@Html.Raw(string.Join("<br>", row.Hosts.Select(h => $"<a target='_blank' href='https://{h}'>{h}</a>")))</td>
    <td>@row.SecretName</td>
    <td>@row.Created?.ToString("s")</td>
    <td>@row.Expires?.ToString("s")</td>
    <td><a class="btn btn-@(row.HasChallengeEntry ? "warning" : "danger") " asp-action="Renew" asp-route-ns="@row.Namespace" asp-route-secretName="@row.SecretName">Test</a></td>
    <td><a class="btn btn-primary" asp-action="Renew" asp-route-ns="@row.Namespace" asp-route-secretName="@row.SecretName">Renew</a></td>
</tr>           
            }
        </tbody>
    </table>
</div>
