@inject CertClient _cert
@model List<V1Secret>
@{ 
    ViewData["Title"] = "Ingress";
}

<h2>Managed Certificates</h2>

<p><a class="btn btn-primary" asp-controller="Certificate" asp-action="New">New Cert</a></p>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Namespace</th>
                <th scope="col">Secret</th>
                <th scope="col">Hosts</th>
                <th scope="col">Created</th>
                <th scope="col">Expiration</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model)
            {                
                var cert = _cert.GetCert(row);
                var hosts = _cert.GetHosts(cert);
            <tr>
                <td>@row.Namespace()</td>
                <td>@row.Name()</td>
                <td>@Html.Raw(string.Join("<br>", hosts.Select(h => $"<a target='_blank' href='https://{h}'>{h}</a>")))</td>
                <td>@cert?.NotBefore.ToString("s")</td>
                <td>@cert?.NotAfter.ToString("s")</td>
                <td>
                    <a class="btn btn-primary" asp-action="Renew" asp-route-ns="@row.Namespace()" asp-route-name="@row.Name()">Renew</a>
                    <a class="btn btn-warning" asp-controller="Certificate" asp-action="Edit" asp-route-ns="@row.Namespace()" asp-route-name="@row.Name()">Edit</a>
                    <a class="btn btn-info" asp-controller="Manage" asp-action="Unmanage" asp-route-ns="@row.Namespace()" asp-route-name="@row.Name()">Unmanage</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
