@inject K8sClient _kube
@model HomeViewModel[]
@{ 
    ViewData["Title"] = "Ingress";
}

<h2>Cluster TLS Secrets</h2>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Namespace</th>
                <th scope="col">Secret</th>
                <th scope="col">Hosts</th>
                <th scope="col">Created</th>
                <th scope="col">Expiration</th>
                <th scope="col">Challenge Route</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model)
            {
            <tr>
                <td>@row.Namespace</td>
                <td>@row.SecretName</td>
                <td>@Html.Raw(string.Join("<br>", row.Hosts.Select(h => $"<a target='_blank' href='https://{h}'>{h}</a>")))</td>
                <td>@row.Created?.ToString("s")</td>
                <td>@row.Expires?.ToString("s")</td>
                <td><a class="btn btn-@(row.HasChallengeEntry ? "success" : "danger")">@(row.HasChallengeEntry ? "configured" : "unconfigured")</a></td>
                <td><a class="btn btn-primary" asp-action="Renew" asp-route-ns="@row.Namespace" asp-route-secretName="@row.SecretName">Renew</a></td>
            </tr>           
            }
        </tbody>
    </table>
</div>
