@inject CertClient _cert
@model List<V1Secret>
@{ 
    ViewData["Title"] = "Ingress";
    var secrets = Model;
}

<h2>Managed TLS Secrets</h2>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Namespace</th>
                <th scope="col">Secret</th>
                <th scope="col">Hosts</th>
                <th scope="col">Created</th>
                <th scope="col">Expiration</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in secrets)
            {
                var cert = _cert.GetCert(row);
                var hosts = _cert.GetHosts(cert);
            <tr>
                <td>@row.Namespace()</td>
                <td>@row.Name()</td>
                <td>@Html.Raw(string.Join("<br>", hosts.Select(h => $"<a target='_blank' href='https://{h}'>{h}</a>")))</td>
                <td>@cert?.NotBefore.ToString("s")</td>
                <td>@cert?.NotAfter.ToString("s")</td>
                <td><a class="btn btn-primary" asp-route-op="manage" asp-route-ns="@row.Namespace()" asp-route-name="@row.Name()">Manage</a></td>
            </tr>           
            }
        </tbody>
    </table>
</div>
