@model KCert.Lib.RenewalResult
@{
    ViewData["Title"] = $"Cert Creation - {Model.SecretNamespace}/{Model.SecretName}";
}

<h1>Certificate Renewal Results: @Model.SecretNamespace/@Model.SecretName</h1>

<p>
    <a class="btn btn-success" asp-action="Index">Return To Main Page</a>
</p>

<pre>@string.Join("\n", Model.Logs)</pre>

@if (Model.Error != null)
{
    <pre>@Model.Error.GetType().Name</pre>
    <pre>@Model.Error.Message</pre>
    <pre>@Model.Error.GetType().Name</pre>
    <pre>@Model.Error.Message</pre>
    <pre>@Model.Error.StackTrace</pre>
}
